{
    \"AWSEBDockerrunVersion\": \"1\",
    \"Image\": {
        \"Name\": \"${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}\"
    },
    \"Ports\": [
        {
            \"ContainerPort\": ${SERVICE_PORT},
            \"HostPort\": 80
        }
    ]
}