option_settings:
  aws:elasticbeanstalk:application:environment:
    HOST: ${SERVICE_HOST}
    PORT: ${SERVICE_PORT}
    DB_FILE: ${DB_FILE}
    FLASK_ENV: ${FLASK_ENV}
    FLASK_APP: ${FLASK_APP}
    API_PREFIX: ${API_PREFIX}
